<!doctype html>
<html>
<head>
<title>我的第一个网站</title>
<link rel="icon" type="image/x-icon" href="./img/favicon.ico" />
</head>
<body>
	<header><img width="200" src="./img/logo.jpg" alt="Meadowlark Travel Logo"></header>
	{{{body}}}
</body>
</html>