<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>mongodb数据库操作</title>
	<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
</head>
<body>
	<script type="text/javascript">
		$(function(){
			$('button[name=testAPI]').click(function(){
				var _form = $('form[name=form]').serializeObject();
				console.log(_form)
				$.ajax({
					url:'http://192.168.1.3:3000/api/register',//地址
					dataType:'json',//数据类型
					type:'POST',//类型
					timeout:2000,//超时
					data:_form,
					headers:{'X-Requested-with':'XMLHttpRequest'},
					//请求成功
					success:function(data,status){
						console.log(data,status)
					},
					//失败/超时
					error:function(XMLHttpRequest,textStatus,errorThrown){
						console.log('err')
						if(textStatus==='timeout'){
							alert('請求超時');
							// setTimeout(function(){
							// 	alert('重新请求');
							// },2000);
						}
						//alert(errorThrown);
					}
				})
			})
		})
		// 自定义方法
	    $.prototype.serializeObject=function(){
	        var obj=new Object();
	        $.each(this.serializeArray(),function(index,param){
	            if(!(param.name in obj)){
	                obj[param.name]=param.value;
	            }
	        });
	        return obj;
	    };
	</script>
</body>
</html>